{% load widget_tweaks %}

<div id="update-transaction">
    <h1 class="mt-4 mb-4 prose prose-2x1 text-white" >
        Editar Transacción
    </h1>

    <form hx-post="{% url 'update-transaction' pk=transaction.id %}"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-target="#update-transaction"
        >

        {% include 'tracker/partials/transaction-form.html' %}

        <button class="btn btn-outline btn-success">
            Actualizar
        </button>
        
        <button class="btn btn-outline btn-error"
            hx-get="{% url 'transactions-list' %}"
            hx-target="#transaction-block"
            hx-push-url="true">
            Cancelar
        </button>

    </form>
</div>
